.titulo {
    color: red;
}
.trabajador1 {
    color: blue;
    text-align: center;
}
.trabajador2 {
    color:green;
    text-align: center;
}
.sublinea {
    text-decoration: underline;
}
div {
    background-color: gray;
    width: 550px;
    border: 600px black;
}