CREATE DATABASE EMPRESA
GO
USE [EMPRESA]
GO
/****** Object:  Table [dbo].[temple]    Script Date: 02/18/2015 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temple](
	[NUMEM] [int] NOT NULL,
	[NUMDE] [int] NULL,
	[EXTEL] [varchar](4) NULL,
	[FECNA] [datetime] NULL,
	[FECIN] [datetime] NULL,
	[SALAR] [money] NULL,
	[COMIS] [money] NULL,
	[NUMHI] [smallint] NULL,
	[NOMEM] [varchar](50) NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[NUMEM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temple] ([NUMEM], [NUMDE], [EXTEL], [FECNA], [FECIN], [SALAR], [COMIS], [NUMHI], [NOMEM]) VALUES (110, 121, N'350', CAST(0x0000803400000000 AS DateTime), CAST(0x00009E8B00000000 AS DateTime), 1000.0000, NULL, 3, N'PONS, CESAR')
INSERT [dbo].[temple] ([NUMEM], [NUMDE], [EXTEL], [FECNA], [FECIN], [SALAR], [COMIS], [NUMHI], [NOMEM]) VALUES (130, 112, N'810', CAST(0x00005F2500000000 AS DateTime), CAST(0x00009E7D00000000 AS DateTime), 1200.0000, 1100.0000, 2, N'TEROL, LUCIANO')
INSERT [dbo].[temple] ([NUMEM], [NUMDE], [EXTEL], [FECNA], [FECIN], [SALAR], [COMIS], [NUMHI], [NOMEM]) VALUES (150, 121, N'340', CAST(0x0000655500000000 AS DateTime), CAST(0x00009CFF00000000 AS DateTime), 2200.0000, NULL, 1, N'PEREZ, JULIO')
/****** Object:  Table [dbo].[tcentr]    Script Date: 02/18/2015 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tcentr](
	[NUMCE] [int] NOT NULL,
	[NOMCE] [varchar](50) NULL,
	[SEÑAS] [varchar](50) NULL,
 CONSTRAINT [PK_tcentr] PRIMARY KEY CLUSTERED 
(
	[NUMCE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tcentr] ([NUMCE], [NOMCE], [SEÑAS]) VALUES (10, N'SEDE CENTRAL', N'C. ALCALA, 820, MADRID')
INSERT [dbo].[tcentr] ([NUMCE], [NOMCE], [SEÑAS]) VALUES (20, N'RELACION CON CLIENTES', N'C. ATOCHA, 405, MADRID')
/****** Object:  Table [dbo].[tdepto]    Script Date: 02/18/2015 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tdepto](
	[NUMDE] [int] NOT NULL,
	[NUMCE] [int] NULL,
	[DIREC] [int] NULL,
	[TIDIR] [varchar](50) NULL,
	[PRESU] [money] NULL,
	[DEPDE] [int] NULL,
	[NOMDE] [varchar](50) NULL,
 CONSTRAINT [PK_tdepto] PRIMARY KEY CLUSTERED 
(
	[NUMDE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tdepto] ([NUMDE], [NUMCE], [DIREC], [TIDIR], [PRESU], [DEPDE], [NOMDE]) VALUES (100, 10, 260, N'p', 12.0000, NULL, N'DIRECCIÓN GENERAL')
INSERT [dbo].[tdepto] ([NUMDE], [NUMCE], [DIREC], [TIDIR], [PRESU], [DEPDE], [NOMDE]) VALUES (110, 20, 290, N'P', 5.0000, 120, N'NOMINAS')
INSERT [dbo].[tdepto] ([NUMDE], [NUMCE], [DIREC], [TIDIR], [PRESU], [DEPDE], [NOMDE]) VALUES (111, 20, 240, N'F', 11.0000, 110, N'SECTOR INDUSTRIAL')
/****** Object:  ForeignKey [FK_tdepto_tcentr]    Script Date: 02/18/2015 16:51:36 ******/
ALTER TABLE [dbo].[tdepto]  WITH NOCHECK ADD  CONSTRAINT [FK_tdepto_tcentr] FOREIGN KEY([NUMCE])
REFERENCES [dbo].[tcentr] ([NUMCE])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tdepto] CHECK CONSTRAINT [FK_tdepto_tcentr]
GO
/****** Object:  ForeignKey [FK_tdepto_tdepto]    Script Date: 02/18/2015 16:51:36 ******/
ALTER TABLE [dbo].[tdepto]  WITH NOCHECK ADD  CONSTRAINT [FK_tdepto_tdepto] FOREIGN KEY([DEPDE])
REFERENCES [dbo].[tdepto] ([NUMDE])
GO
ALTER TABLE [dbo].[tdepto] CHECK CONSTRAINT [FK_tdepto_tdepto]
GO
/****** Object:  ForeignKey [FK_tdepto_temple]    Script Date: 02/18/2015 16:51:36 ******/
ALTER TABLE [dbo].[tdepto]  WITH NOCHECK ADD  CONSTRAINT [FK_tdepto_temple] FOREIGN KEY([DIREC])
REFERENCES [dbo].[temple] ([NUMEM])
GO
ALTER TABLE [dbo].[tdepto] CHECK CONSTRAINT [FK_tdepto_temple]
GO
/****** Object:  ForeignKey [FK_temple_tdepto]    Script Date: 02/18/2015 16:51:36 ******/
ALTER TABLE [dbo].[temple]  WITH CHECK ADD  CONSTRAINT [FK_temple_tdepto] FOREIGN KEY([NUMDE])
REFERENCES [dbo].[tdepto] ([NUMDE])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[temple] CHECK CONSTRAINT [FK_temple_tdepto]
GO
